*.elay
/projects/stm32l1xx_LoRa_sx1276/bin
/projects/stm32l1xx_LoRa_sx1276/obj
/projects/stm32l1xx_LoRa_sx1276/cscope.out
/projects/stm32l1xx_LoRa_sx1276/stm32l1xx_LoRa_sx1276.cscope_file_list
/projects/stm32l1xx_LoRa_sx1276/stm32l1xx_LoRa_sx1276.depend
/projects/stm32f4xx_LoRa_sx1276/bin
/projects/stm32f4xx_LoRa_sx1276/obj
/projects/stm32f4xx_LoRa_sx1276/stm32f4xx_LoRa_sx1276.depend
